<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pe.oranch.taypappcliente">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">
        <activity android:name="pe.oranch.taypappcliente.recursos.SplashScreen"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.BienvenidoActivity" android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait"></activity>
        <activity android:name=".activities.InicioActivity" android:label="@string/title_activity_welcome" android:theme="@style/Theme.Design.NoActionBar" android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait"></activity>
        <activity android:name=".activities.RegistrarUsuarioActivity" android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait"></activity>
        <activity android:name=".activities.PrincipalActivity" android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait"></activity>
        <activity android:name=".activities.DescubrirActivity" android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait"></activity>
        <activity android:name=".activities.DescubrirComidaActivity" android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait"></activity>
        <activity android:name=".activities.EncuentraTuMenuActivity" android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait"></activity>

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

    </application>

</manifest>